<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="UserListPageSize" value="10" />
		<add key="ResetPasswordBody" value="Your new password is: " />
		<add key="ResetPasswordFromAddress" value="ludo@orangesites.com" />
		<add key="ResetPasswordSubject" value="Your new password" />
		<add key="defaultLocale" value="fr-FR" />
		<add key="ImageRoot" value="~/content/cms/images/" />
		<add key="FilesRoot" value="~/content/cms/files/" />
		<add key="FilesManagementRoot" value="~/content/cms/" />
	</appSettings>
	<connectionStrings>
		<!-- remote connection  -->
        <add name="ApplicationServices" connectionString="Data Source=72.32.213.125,4120;Initial Catalog=474975_cavalgo;Persist Security Info=True;User ID=474975_cavalgo;Password=dsa432Ds;" providerName="System.Data.SqlClient" />
        <add name="caval_goEntities" connectionString="metadata=res://*/Models.DataModel.csdl|res://*/Models.DataModel.ssdl|res://*/Models.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=72.32.213.125,4120;Initial Catalog=474975_cavalgo;Persist Security Info=True;User ID=474975_cavalgo;Password=dsa432Ds;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
		
        <!-- production
		<add name="ApplicationServices" connectionString="Data Source=mssql0810.wc1\inst2;Initial Catalog=474975_cavalgo;Persist Security Info=True;User ID=474975_cavalgo;Password=dsa432Ds;" providerName="System.Data.SqlClient"/>
		<add name="caval_goEntities" connectionString="metadata=res://*/Models.DataModel.csdl|res://*/Models.DataModel.ssdl|res://*/Models.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=mssql0810.wc1\inst2;Initial Catalog=474975_cavalgo;Persist Security Info=True;User ID=474975_cavalgo;Password=dsa432Ds;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
        -->
		<!-- dev
        <add name="ApplicationServices" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=F:\OrangeSites\Clients\Caval-go\Website\App\Caval-go\Caval-go\App_Data\caval_go.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
        <add name="caval_goEntities" connectionString="metadata=res://*/Models.DataModel.csdl|res://*/Models.DataModel.ssdl|res://*/Models.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=F:\OrangeSites\Clients\Caval-go\Website\App\Caval-go\Caval-go\App_Data\caval_go.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
        -->
	</connectionStrings>
	<location path="logon">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<system.net>
		<mailSettings>
			<smtp from="no-reply@cavalandgo.com" deliveryMethod="Network">
				<!-- Uncomment to specify SMTP settings -->
				<network host="localhost" port="25" userName="" password="" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<!--<identity impersonate="true" userName="dfw\cavalgo" password="ds43fEgdd" />-->
		<machineKey validationKey="DF25DBA5CF4F951554A87B7653F607E167D80EC34CDFA42AB5ED78719B01C21A7301779FD7627A26323A202657E64DAB10B49FC9C7B07816B3FA1B20905F68B9" decryptionKey="2BA786D648ED8C0C47A722FCEF2E6AD21AEF1128829854E7" validation="SHA1" />
		<globalization culture="fr-FR" />
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
		<authentication mode="Forms">
			<forms loginUrl="~/logon" timeout="2880">
				<credentials passwordFormat="Clear">
					<user name="admin" password="pegasus22" />
				</credentials>
			</forms>
		</authentication>
		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/" />
			</providers>
		</membership>
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>
		<roleManager enabled="true">
			<providers>
				<clear />
				<add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				<add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</providers>
		</roleManager>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
		<customErrors mode="Off" />
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Linq" />
				<add namespace="System.Collections.Generic" />
			</namespaces>
		</pages>
        <httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters="" executionTimeout="3000" maxRequestLength="100000000" />
    </system.web>
	<system.web.extensions />
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
		<handlers>
			<remove name="UrlRoutingHandler" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
